<template name="WorkoutPage">

	<!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1"> -->

		{{#if currentUser}}
			{{#if activeWorkout }}

				 {{> newWorkoutForm}}

		 	{{else}}
				{{#with getWorkout}}

					<h4 style="text-align:center">Current Workout: {{title}}</h4>
					<div class="col-xs-12" style="text-align:center">
					<button class="btn btn-success " id="finishWorkout">I'm done!</button>
</div>
<br>
<br>
					{{#if activeExercise}}

						{{> newExerciseForm}}

					{{else}}

						{{#with getExercise}}

						<h5>Current Exercise: {{name}}</h5>

							{{>newSetForm}}

						{{/with}}

					{{/if}}

				{{/with}}
			{{/if}}

		  	{{#each workouts}}

		   		{{> oldWorkout}}

		   	{{/each}}

		  {{else}}

		<h3>Login to view and start recording workouts!</h3> {{/if}}
	<!-- </div> -->
</template>
