<template name="oldWorkout">
	<div class="oldWorkout">
		<div class="container">
			<div class="row">
				<span class="pull-left">
					<div class="workoutTitle">{{#if notEditingWorkout}}
						{{title}}
						{{else}}
						<input id="workoutNameInput" type="text" value="{{title}}" class="form-control"/>
						{{/if}}
						</div>
					</span>
				<span class="pull-right">
							{{#if notEditingWorkout}}
					<button class="btn btn-sm btn-default " id="editWorkout">
						<i class="fa fa-pencil-square-o"></i>
					</button>
					{{else}}
					<button class="btn btn-default" id="saveWorkout">
						Save
					</button>
					<button class="btn btn-danger " id="deleteWorkout">
						Delete
					</button>
					{{/if}}
				</span>
			</div>
			{{#if deletingWorkout}}
			<br>
			<div style="text-align:center">
				<button class="btn btn-danger " id="confirmDeleteWorkout">
					Delete Workout!
				</button>
				<button class="btn btn-primary " id="cancelDeleteWorkout">
					Cancel
				</button>
			</div>
			{{/if}}

		</div>
		<div style="height:10px"></div>
		<ol>
			{{#each getExercises}}
			<li>
				{{#if isActiveExercise}}
				<div class="exerciseNameInput">
					<input type="text" class="form-control" value="{{name}}" id="currentExerciseName" />
				</div>
				{{else}}
				<h5>{{name}} </h5> {{/if}}
				<div class="row">
					{#if isActiveWorkout}} {{#if isActiveExercise}}
					<button class="btn btn-sm btn-default " id="confirmSaveExercise">
						Save
					</button>
					<button class="btn btn-sm btn-danger " id="cancelSaveExercise">
						Cancel
					</button>
					{{else}}
					<span class="pull-left">
					<button class="btn btn-xs btn-default " id="editExercise">
						<i class="fa fa-pencil-square-o"></i>
					</button>
	
					</span> {{/if}}



					<span class="pull-right">
						{{#if notDeletingExercise}}
					<button class="btn btn-xs btn-danger " id="deleteExercise">
						x
					</button>
					<br>
					{{else}}
					
					<div style="text-align:center">
					<button class="btn btn-danger " id="confirmDeleteExercise">
						Delete
					</button>
					<button class="btn btn-primary " id="cancelDeleteExercise">
						Cancel
					</button>
					</div>
					
					{{/if}}
				</span> {{/if}}
				</div>
				<br>
				<div class="table-responsive">
					<table class="table table-striped table-bordered ">
						<thead>
							<th>Reps</th>
							<th>Weight</th>
						</thead>
						<tbody>
							{{#each getSets}}
							<tr>
								<td>{{reps}}</td>
								<td>{{weight}}</td>
								{{#if isActiveExerciseForSet}}
								<td style="text-align:center">
									<button class="btn btn-sm btn-danger " id="deleteSet">
										x
									</button>
								</td>

								{{/if}}
							</tr>

							{{/each}}
						</tbody>

					</table>
				</div>
				<ul>

				</ul>
			</li>

			{{/each}}
		</ol>



	</div>
</template>