.oldWorkout{
	
	border-top: 3px black solid;
	padding: 5px;
	margin-top:5px;
	
	
	
}

.oldWorkout ol{
	
	margin-left: -25px;
	
}

.oldWorkout ol li{
	
	display: inline;
}

.workoutTitle{
	
	
	
	font-size: x-large;
	
	
}

.exerciseNameInput{
	
	margin-top:5px;
	margin-bottom: 5px;
	margin-left: -15px;
	margin-right: -10px;
}